* {
	font-family: "Open Sans", sans-serif;
}
html, body{
	top: 0;
	margin: 0;
	padding: 0;
	height: 100%;
	text-align: center;
}
a {
	text-decoration: none;
}
table{
	border-spacing: 0;
	border-collapse: collapse;
}
.hidden{
	display: none;
}
.clearfix {
	clear: both;
}
.gold-bar{
	height: 23px;
	width: 100%;
	background: #D78A12;
}
.gray-bar{
	height: 23px;
	width: 100%;
	background: #C8C8C8;
}
header{
	text-align: center;
}

#logo_img{
	margin-top: 74px;
	margin-bottom: 50px;
}
.container{
	display: inline-block;
	margin: 0 auto;
	text-align: left;
}
.container img{
	padding: 0;
	margin: 0;
	float: left;
}
#registration_button, #registration_button2{
	cursor: pointer;
	background: #4FBF34;
	box-shadow: 5px -5px 0 #389F1F;
	color: #FFF;
	border: 0;
	padding: 12px 0;
	width: 228px;
	font-size: 15px;
	font-weight: bold;
}
#login_form{
	float: right;
	padding-top: 38px;
	text-align: center;
	color: #828282;
	font-weight: bold;
}

#login_button{
	background: #167ECE;
	box-shadow: 5px -5px 0 #0C4A7A;
	color: #FFF;
	border: 0;
	padding: 12px 0;
	width: 228px;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 80px;
	cursor: pointer;
}
#login_form input{
	width: 228px;
	height: 30px;
	margin: 10px 0;
	font-size: 20px;
}
footer{
	width: 100%;
	background: #4A4A4A;
	text-align: center;
	color: #FFF;
}


#register_section{
	z-index: 10;
	display: none;
	position: fixed;
	background: rgba(70, 70, 70, 0.63);
	width : 100%;
	height : 100%;
	top: 0;
	left: 0;
	right :0;
	bottom : 0;
	text-align: center;
}
#registration_modal{
	width: 375px;
	padding-bottom: 30px;
	margin: 0 auto;
	margin-top: 70px;
	background: #FFF;
	border-radius: 5px;
	text-align: center;
}

#registration_form input{
	width : 290px;
	height : 30px;
	margin-bottom: 20px;
	text-align: center;
	border-radius: px;
}
#register_img{
	margin-top: 57px;
	margin-bottom: 20px;
}

.blood{
	text-align: left;
	font-size: 10px;
	color: #E06E6E;
}

#close_modal {
	float: right;
	background: #FF2E12;
	top: 0px;
	width: 30px;
	height: 40px;
	border: 0px;
	color: white;
}

#close_modal:hover {
	background: #B81B1B;
	color: white;
}
